*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body{
    max-width: 1440px;
    height: 1700px;
    background: #e8e8e8;
}

ul{
    margin: 163px 0 0 276px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 36px;
    
}
.list li:nth-child(1) {
    color: #273d46;
    text-decoration: line-through;
    padding: 0 0 0 30px;
    }
.list li:nth-child(1)::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 19px;
    background-image: url(../img/icons/li.svg);
    background-size: 25px 19px;
    margin: 0 11px 0 0;
}
.list li:nth-child(1):hover::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 19px;
    background-image: url(../img/icons/check_icon.png);
    background-size: 25px 19px;
    margin: 0 11px 0 0;
}
.list li:nth-child(1):hover{
    color: #d55a5a;
    font-size: 20px;
    font-style:normal;
    font-weight:normal;
    text-transform: none;
    text-decoration: none;
}
.list li:nth-child(2) {
    color: #273d46;
    font-weight: bold;
    padding: 0 0 0 30px;
}
.list li:nth-child(2)::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 19px;
    background-image: url(../img/icons/li.svg);
    background-size: 25px 19px;
    margin: 0 11px 0 0;
}
.list li:nth-child(2):hover::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 19px;
    background-image: url(../img/icons/check_icon.png);
    background-size: 25px 19px;
    margin: 0 11px 0 0;
}
.list li:nth-child(2):hover{
    color: #d55a5a;
    font-size: 20px;
    font-style:normal;
    font-weight:normal;
    text-transform: none;
    text-decoration: none;
}
.list li:nth-child(3){
    color: #273d46;
    font-style: italic;
    padding: 0 0 0 30px;
}
.list li:nth-child(3)::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 19px;
    background-image: url(../img/icons/li.svg);
    background-size: 25px 19px;
    margin: 0 11px 0 0;
}
.list li:nth-child(3):hover::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 19px;
    background-image: url(../img/icons/check_icon.png);
    background-size: 25px 19px;
    margin: 0 11px 0 0;
}
.list li:nth-child(3):hover{
    color: #d55a5a;
    font-size: 20px;
    font-style:normal;
    font-weight:normal;
    text-transform: none;
    text-decoration: none;
}
.list li:nth-child(4) {
    color: #273d46;
    text-transform: uppercase;
    padding: 0 0 0 30px;
}
.list li:nth-child(4)::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 19px;
    background-image: url(../img/icons/li.svg);
    background-size: 25px 19px;
    margin: 0 11px 0 0;
}
.list li:nth-child(4):hover::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 19px;
    background-image: url(../img/icons/check_icon.png);
    background-size: 25px 19px;
    margin: 0 11px 0 0;
}
.list li:nth-child(4):hover{
    color: #d55a5a;
    font-size: 20px;
    font-style:normal;
    font-weight:normal;
    text-transform: none;
    text-decoration: none;
}

.story{
    display: block;
    margin: 137px 0 0 315px;
    width: 199px;
    height: 44px;
    box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-size: 14px;
    border-radius: 50px;
    padding: 3px 30px 0px 5px;
    background: url(../img/free.png)  no-repeat, #80b7b3;
    background-position: 151px 13px;
    background-size: 20px;
}
.story:hover{
    box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
    background-color: #3a5856;
}
.story:active{
    box-shadow: none;
    background-color: #818181;   
}
.text1 {
    margin: 118px 0 43px 295px;
    width: 761px;
    height: 73px;
    font-size: 18px;
    line-height: 28px;
}
.text2 {
    margin: 0 0 43px 295px;
    width: 761px;
    height: 73px;
    font-size: 18px;
    line-height: 28px;
}
.text1::first-line{
    color: #ff0000;
}
.text2::first-letter{
    font-size: 25px;
    color: #ff0000;
}
